<h1>Pagina de productos</h1>
{{#if userData.user}}
<h2>¡Bienvenido! {{userData.user.first_name}} {{userData.user.last_name}}</h2>
{{/if}}

<hr>
<div>
    <input type="text" placeholder="Ingresa tu Carrito" id="cartIdShop" />
</div>
<br/>
{{#if totalDocs}}
    <div>
        Listado de productos
        <ul>
        {{#each payload}}
            <li>{{this.title}} - Precio: ${{this.price}}</li>
            <button onclick="location.href='/products/{{this._id}}'" type="button">Ver producto</button>
            <button onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button>
            <br></br>
        {{/each}}
        </ul>
    </div>
    <div>
        {{#if hasPrevPage}}
            <a href={{prevLink}}>Anterior</a>
        {{/if}}

        {{page}}

        {{#if hasNextPage}}
            <a href={{nextLink}}>Siguiente</a>
        {{/if}}
    </div>
{{else}}
    <p>No hay productos</p>

{{/if}}

<script src="js/products.js"></script>